.task-box {
    align-items: left;
    padding: 10px;
    background-color: aqua;
    border: 1px solid blue;
    border-radius: 5px;
    color: mediumseagreen;
    margin-bottom: 10px;
}

.taskinput {
    background-color: transparent;
    border: none;
    color: rgb(236, 119, 61);
    width: 100%;
    outline: none;
}